<%- include ('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>

<div class="container-flex">
  <div class="row">
    <div class="col-3" id="sidebar">
      <h2>ACM Dashboard</h2>
    </div>
    <div class="col-9" id="main">
      <center><h1>Association of Computer and Machinery, VIT<h1></center>
    </div>
  </div>
</div>


</body>
</html>
